include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Header()
        section.main__section
            .bg__wrapper
                <video class="bg__video" preload="auto" autoplay="true" loop="true" muted="muted" poster="assets/images/bg/first_section.jpg">
                    <source src="assets/images/bg.mp4" type='video/mp4' />
                </video>
            .container
                .slider__wrapper
                    .slider.owl-carousel
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных 
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных 
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus optio soluta in laborum! Harum mollitia architecto, nisi doloremque cum non officiis ipsa suscipit magni corrupti culpa iure error labore deserunt?
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                    .owl-nav
                        .navs
                        .dots
                    .links__wrapper
                        a(href="") Новости
                        a(href="") Статьи
                .quote__wrapper
                    .quote
                        span.bold Цитата недели
                        i «Универсальный закон сохранения энергии: Ничто не возникает ниоткуда. Ничто не исчезает никуда» (с)
        section.about_us
            .container
                h2.title Немного о нас 
                .wrapper
                    .col
                        span.bold Кто мы? 
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
                    .col
                        span.bold Что мы делаем?
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
                    .col
                        span.bold Как помочь?
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
        
        +SuccessfulStories()
        +OurProgramms()
        +NewsSect()
        +SubscribeSect()

        +Footer()
                    
                
                
        include pug/scripts.pug