include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header
            .container
                a.logo
                    img(src="assets/images/logo.png")
                .menu__wrapper
                    a(href="").active Главная
                    a(href="") О нас
                    a(href="") Все сборы программ
                    a(href="") Поступления
                    a(href="") Помощь
                    a(href="") Контакты
                .contacts__wrapper
                    a(href="").contacts.phone +7 (123) 456-78-90
                    a(href="").contacts.mail info@sunwayfund.ru 
                    .icons__wrapper
                        a(href="").tg
                        a(href="").inst
                        a(href="").fb
                        a(href="").vk
        section.main__section
            .bg__wrapper
                <video class="bg__video" preload="auto" autoplay="true" loop="true" muted="muted" poster="assets/images/bg/first_section.jpg">
                    <source src="assets/images/bg.mp4" type='video/mp4' />
                </video>
            .container
                .slider__wrapper
                    .slider.owl-carousel
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных 
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных 
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                        .item
                            h2
                                |Помощь другу
                                small Сбор средств на оборудование дома для животных Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus optio soluta in laborum! Harum mollitia architecto, nisi doloremque cum non officiis ipsa suscipit magni corrupti culpa iure error labore deserunt?
                            .btn__wrapper
                                button.btn.yellow Помощь сейчас
                                button.btn.border Все программы 
                    .owl-nav
                        .navs
                        .dots
                    .links__wrapper
                        a(href="") Новости
                        a(href="") Статьи
                .quote__wrapper
                    .quote
                        span.bold Цитата недели
                        i «Универсальный закон сохранения энергии: Ничто не возникает ниоткуда. Ничто не исчезает никуда» (с)
        section.about_us
            .container
                h2.title Немного о нас 
                .wrapper
                    .col
                        span.bold Кто мы? 
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
                    .col
                        span.bold Что мы делаем?
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
                    .col
                        span.bold Как помочь?
                        .text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam a voluptatibus. Possimus, officia et. Cupiditate possimus omnis optio repellendus neque eligendi magnam aut quas ut, error perferendis culpa dolorem.
        section.need__help
            .container
                h2.title Им нужна помощь
                .slider__wrapper
                    .slider.owl-carousel
                        .card__wrapper
                            .card
                                .image__wrapper
                                    img(src="assets/images/help/1.jpg", alt="")
                                .desc
                                    span.card__title Коту - талисману нужна Ваша помощь!
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                .progress__wrapper
                                    .progress(value="65")
                                        .line
                                    .price__wrapper
                                        .collected
                                            span Собранно
                                            .price 4050 р.
                                        .need
                                            span Необходимо
                                            .price 12 050 р.
                                .btn__wrapper
                                    button.btn.yellow Помочь сейчас
                        .card__wrapper
                            .card
                                .image__wrapper
                                    img(src="assets/images/help/1.jpg", alt="")
                                .desc
                                    span.card__title Коту - талисману нужна Ваша помощь!
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                .progress__wrapper
                                    .progress(value="95")
                                        .line
                                    .price__wrapper
                                        .collected
                                            span Собранно
                                            .price 4050 р.
                                        .need
                                            span Необходимо
                                            .price 12 050 р.
                                .btn__wrapper
                                    button.btn.yellow Помочь сейчас
                        .card__wrapper
                            .card
                                .image__wrapper
                                    img(src="assets/images/help/1.jpg", alt="")
                                .desc
                                    span.card__title Коту - талисману нужна Ваша помощь!
                                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                .progress__wrapper
                                    .progress(value="25")
                                        .line
                                    .price__wrapper
                                        .collected
                                            span Собранно
                                            .price 4050 р.
                                        .need
                                            span Необходимо
                                            .price 12 050 р.
                                .btn__wrapper
                                    button.btn.yellow Помочь сейчас
                    .navs    
                        
            
        include pug/scripts.pug