include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header
            .container
                a.logo
                    img(src="assets/images/logo.png")
                .menu__wrapper
                    a(href="").active Главная
                    a(href="") О нас
                    a(href="") Все сборы программ
                    a(href="") Поступления
                    a(href="") Помощь
                    a(href="") Контакты
                .contacts__wrapper
                    a(href="").contacts.phone +7 (123) 456-78-90
                    a(href="").contacts.mail info@sunwayfund.ru 
                    .icons__wrapper
                        a(href="").tg
                        a(href="").inst
                        a(href="").fb
                        a(href="").vk
            
        include pug/scripts.pug