body
{
    margin: 0;
    color: #000;
    background: #fff;
    font-family: 'OpenSans';
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

header
{
    position: absolute;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    z-index: 5;

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__wrapper
    {
        display: flex;
        width: 65%;
        justify-content: space-between;

        a
        {
            padding: 5px 0;
            color: #d9d8d8;
            transition: 0.5s;
            position: relative;
        }

        a.active, a:hover
        {
            color: #fff;
        }

        a:after
        {
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #ffcd05;
            transition: 0.3s;
        }

        a.active:after, a:hover:after
        {
            width: 100%;
        }
    }
}

.contacts__wrapper
{
    display: flex;
    flex-direction: column;

    .contacts
    {
        padding-left: 30px;
        margin-bottom: 10px;
        position: relative;
        transition: 0.3s;
    }

    .contacts:after
    {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background: rgb(245,223,105);
        background-image: linear-gradient(95deg, rgba(245,223,105,1) 0%, rgba(219,180,57,1) 100%);
        border-radius: 50%;
        box-shadow: 0px 0px 15px #f29f22;
        text-align: center;
    }

    .contacts.phone:after
    {
        content: url(../images/icons/phone.png);
        line-height: 23px;
    }

    .contacts.mail:after
    {
        content: url(../images/icons/mail.png);
        line-height: 23px;
    }

    .contacts.mail
    {
        font-size: 15px;
        
    }

    .contacts:hover
    {
        color: #7081d0;
        text-decoration: underline;
    }
}

.icons__wrapper
{
    display: flex;
    a
    {
        display: block;
        width: 26px;
        height: 26px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 7px;
        transition: 0.3s;
        position: relative;
    }

    a:hover
    {
        background: rgba(0, 0, 0, 0.3);
    }

    a:after
    {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
    }

    a.vk:after
    {
        background-image: url(../images/icons/vk.png);
        width: 15px;
        height: 8px;
    }

    a.tg:after
    {
        background-image: url(../images/icons/tg.png);
        width: 14px;
        height: 12px;
        transform: translateX(-1px);
    }

    a.fb:after
    {
        background-image: url(../images/icons/fb.png);
        width: 8px;
        height: 15px;
        transform: translateY(-1px);
    }

    a.inst:after
    {
        background-image: url(../images/icons/inst.png);
    }
}

section.main__section
{
    min-height: 900px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;

    .slider__wrapper
    {
        position: relative;
        padding-right: 250px;

        .slider
        {
            .item
            {
                width: 100%;
                h2
                {
                    margin-top: 0;
                    margin-bottom: 50px;
                    font-family: "PlayfairDisplay";
                    font-size: 70px;

                    small
                    {
                        display: block;
                        font-size: 24px;
                        font-family: "OpenSans";
                        font-weight: 600;
                        margin-top: 15px;
                    }
                }

                .btn__wrapper
                {
                    padding-bottom: 10px;
                    .btn.yellow
                    {
                        margin-right: 25px;
                    }
                }
            }
        }

        .links__wrapper
        {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            a
            {
                width: 240px;
                height: 75px;
                padding: 25px;
                background: rgba(0, 0, 0, 0.3);
                margin-bottom: 15px;
                position: relative;
                display: block;
                transition: 0.3s;
            }

            a:after
            {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid #fff;
                opacity: 0;
                transition: 0.3s;
            }

            a:hover
            {
                background: rgba(0, 0, 0, 0.5);
            }

            a:hover:after
            {
                opacity: 1;
            }
        }

        .owl-nav
        {
            display: inline-flex;
            margin-top: 40px;

            position: relative;
            .dots
            {
                padding: 0 40px;
                display: flex;
                button
                {
                    width: 11px;
                    height: 11px;
                    background: none;
                    border: 1px solid #fff;
                    padding: 0;
                    border-radius: 50%;
                    margin: 5px;
                    transition: 0.3s;
                }

                button.active
                {
                    background: #fff;
                }
                
            }

            .navs
            {
                .owl-prev
                {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 34px;
                    height: 12px;
                    background: url(../images/icons/arrow_left.png);
                    padding: 0;
                    font-size: 0;
                    border: none;
                }
                
                .owl-next
                {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 34px;
                    height: 12px;
                    background: url(../images/icons/arrow_right.png);
                    padding: 0;
                    font-size: 0;
                    border: none;
                }
            }
        }
    }

    .quote__wrapper
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .quote
        {
            width: 50%;
            display: flex;
            flex-direction: column;

            .bold
            {
                font-weight: 600;
            }
        }
    }

    .bg__wrapper
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -5;
    }

    .bg__video
    {
        
        min-width: 100%;
        min-height: 100%;
        
    }
}

section.main__section:after
{
    content: url(../images/bg/cloud.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    left: 0;
    -webkit-transform: translateY(60%);
    -ms-transform: translateY(60%);
    transform: translateY(60%);
    z-index: -1;
}

.btn
{
    border: none;
    background: none;
    font-family: "OpenSans";
    font-size: 16px;
    min-width: 180px;
    min-height: 50px;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s;
    display: inline-block;
}

.btn.yellow
{
    background: #ffcd05;
}

.btn.yellow:hover
{
    box-shadow: 0px 0px 6px #ffcd05;
}

.btn.border
{
    border: 2px solid #fff;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
}

.btn.border:hover
{
    background: rgba(0, 0, 0, 0.5);
}

section
{
    padding: 40px 0;
}

.title
{
    font-family: "PlayfairDisplay";
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    padding: 25px 0;
    position: relative;
}

.title:after
{
    content: '';
    position: absolute;
    width: 130px;
    height: 2px;
    background: #ffcd05;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

section.about_us
{
    .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .col
        {
            width: 30%;

            .bold
            {
                font-weight: 700;
                font-size: 20px;
                color: #6780da;
                text-transform: uppercase;
            }
        }
    }
}

section.need__help
{
    .container
    {
        position: relative;
        padding: 0 60px;
    }
    .card__wrapper
    {
        padding: 20px;
    }
    .card
    {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding-bottom: 30px;

        .image__wrapper
        {
            img
            {
                width: 100%;
                height: 240px;
                object-fit: cover;
            }
        }

        .card__title
        {
            font-weight: 700;
            font-size: 20px;
        }

        .progress__wrapper
        {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;

            .progress
            {
                width: 100%;
                margin: 25px auto;
                height: 5px;
                background: #eeeeee;
                position: relative;
            }

            .line
            {
                position: absolute;
                width: 0%;
                height: 100%;
                background: #ffcd05;
                left: 0;
                top: 0;
            }
        }

        .price__wrapper
        {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            
            .price
            {
                font-weight: 700;
            }

            .collected .price
            {
                color: #6780da;
            }
        }

        .btn__wrapper
        {
            text-align: center;
        }

        .desc
        {
            padding: 20px;
        }
    }

    .navs
    {
        .owl-prev
        {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 58px;
            height: 56px;
            background: url(../images/icons/btn_left.png);
            border: none;
            padding: 0;
            font-size: 0;
        }

        .owl-next
        {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 58px;
            height: 56px;
            background: url(../images/icons/btn_right.png);
            border: none;
            padding: 0;
            font-size: 0;
        }
    }
}

section.successful_stories
{
    overflow-x: hidden;

    .owl-item
    {
        -webkit-transform: initial;
        padding-top: 100px;
    }
    .item
    {
        width: 430px;
        height: 280px;
        position: relative;
        transition: 0.3s;

        .bg
        {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            transition: 0.3s;
        }

        .bg__wrapper
        {
            width: 100%;
            height: 100%;
            transition: 0.3s;
            position: absolute;
            
            left: 0;
            bottom: 0;

            .desc
            {
                position: absolute;
                left: 0;
                top: 0;
                padding: 20px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 80%;

                .item__title
                {
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                .btn
                {
                    min-height: 35px;
                    text-align: center;
                    font-size: 15px;
                    min-width: 130px;
                    opacity: 0;
                    transition: 0.3s;
                }
            }
        }
    }

    .big .item .bg__wrapper
    {
        
        width: 125%;
        height: 125%;
        z-index: 10;

        .btn
        {
            opacity: 1;
        }
        
    }

    .slider__wrapper
    {
        position: relative;

        .navs
        {
            position: absolute;
            left: 45%;
            top: 5%;
            z-index: 10;

            .owl-prev
            {
                width: 58px;
                height: 56px;
                background: url(../images/icons/btn_left.png);
                border: none;
                padding: 0;
                font-size: 0;
                margin: 5px;
            }
    
            .owl-next
            {
                width: 58px;
                height: 56px;
                background: url(../images/icons/btn_right.png);
                border: none;
                padding: 0;
                font-size: 0;
                margin: 5px;
            }
        }
    }

    .owl-stage-outer
    {
        
    }
}

@import 'responce';